:host{
  width: 100%;
  border:none;
  border-bottom: var(--light-border);
  padding: 24px 20px;
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 16px;
  background: none;
  cursor: pointer;
  &:hover,
  &:focus-visible,
  &.active{
background: var(--hover-color);
  }
}
.last-message__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  color: var(--light-color);
}
.chat-user {
  color: var(--light-transparent-color);
}
