:host {
  display: grid;
  padding: 16px 20px;
  grid-template-rows: 1fr min-content;
}

.messages-wrapper {
  gap: 12px;
  display: grid;
  margin-bottom: 10px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.message-date{
  background: #161616;
  padding: 6px 31px;
  width: fit-content;
  display: grid;
  place-content: center;
  margin-left: 37%;
}
