.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}
.to-settings-svg {
  width: 18px;
  height: 15px;
  color: var(--dark-color);
}
.to-settings-btn {
  width: 174px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-page__body {
  padding: 24px;

  display: grid;
  gap: 64px;
  grid-template-columns: 1fr 350px;
}
.subscribers-wrapper {
  display: flex;
  gap: 6px;
  align-items: center;
}
.subscriber-avatar-btn {
  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}
.to-subscribers-search {
  border-radius: 50%;
  background: var(--light-color);
  width: 14px;
  height: 14px;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 8px;
    background: var(--dark-color);
  }
  &:before {
    transform: translateY(50%) translateX(-50%);
    left: 50%;
  }
  &:after {
    transform: translateY(50%) translateX(-50%) rotate(90deg);
    left: 50%;
  }
}
.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}
